* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background: #1f2125;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure,
figcaption,
span {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*missing alt attribute*/
img:not([alt]) {
  outline-offset: 0.5rem;
  outline: 0.5rem dashed red;
}

/*empty alt attribute*/
img[alt=""] {
  outline-offset: 1.5rem;
  outline: 0.5rem solid blue;
}
